* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
}
.container {
  width: 80%;
  margin: 0 auto;
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-top: 20px;
}
table {
  width: 100%;
  border-collapse: collapse;
}
th, td {
  border: 1px solid #ccc;
  padding: 8px;
  text-align: left;
}
th {
  background-color: #f0f0f0;
}
tr:nth-child(even) {
  background-color: #f9f9f9;
}
.modalButtonContainer{
  display: flex;
  justify-content: space-between;
}
.topContainer{
  display: flex;
  justify-content: space-between;
  align-items: center;

}
.searchInput input{
  padding: 5px;
  border-radius: 10px;
}